services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: org_directory_db
      POSTGRES_USER: org_user
      POSTGRES_PASSWORD: org_password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  pgdata:
